:root {
  --black: #0b0c10;
  --lightblack: #1f2833;
  --gray: #c5c6c7;
  --teal: #66fcf1;
  --darkteal: #45a29e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

/* Header */
header {
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: var(--darkteal);
  position: fixed;
  justify-content: space-between;
  align-items: center;
}
/* Logo */
.logo > img {
  padding-left: 2rem;
}
/* Navigation */
nav > ul {
  display: flex;
}
nav > ul > li {
  list-style: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 620px) {
  nav > ul > li {
    padding: 0.5rem;
    align-self: center;
  }
  nav > ul {
    align-self: center;
  }
}
li > a {
  font-size: 1.75rem;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  transition: all 0.5s ease-out;
}
li > a:hover {
  background-color: var(--black);
  color: var(--teal);
}

/* Welcome Section */
.welcome-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, var(--black), var(--lightblack));
  text-align: center;
}

.welcome-container > h1 {
  color: var(--teal);
  font-size: 5rem;
}
.welcome-container > p {
  color: var(--gray);
  font-style: italic;
  font-size: 2rem;
}
/* Projects Section */

.projects-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: var(--lightblack);
  text-align: center;
}

.projects-container > h1 {
  font-size: 4rem;
  color: var(--gray);
  border-bottom: 3px solid var(--gray);
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  width: 70%;
  align-self: center;
}
.tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  width: 80%;
  align-self: center;
}
.tile-container > a {
  border: 2px solid var(--teal);
  padding: 1rem;
  color: var(--black);
  text-decoration: none;
  font-size: 1.25rem;
  justify-self: center;
  max-width: 800px;
  background-color: var(--darkteal);
  border-radius: 5px;
}

.tile-container img {
  max-width: 100%;
  border-radius: 5px;
}

.tile-container p {
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 550;
  transition: all 0.5s ease-out;
}
.tile-container > a:hover p {
  background-color: var(--black);
  color: var(--teal);
}

/* Contact Section */

.contact-container {
  display: grid;
  grid-template-rows: 85vh 15vh;
  background-image: linear-gradient(to bottom, var(--lightblack), var(--gray));
  color: var(--teal);
}

.link-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
}
.contact-header {
  font-size: 5rem;
  margin-bottom: 4rem;
  text-align: center;
}
.link-container a {
  color: var(--teal);
  text-decoration: none;
  font-size: 2rem;
  transition: transform 0.5s ease-out;
  margin-left: 1rem;
  margin-right: 1rem;
}
.link-container a:hover {
  transform: translateY(10px);
}
i {
  margin-right: 1rem;
}

.social-container {
  display: flex;
}

.footer {
  display: flex;
  padding: 1rem;
  border-top: 2px solid var(--darkteal);
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 530;
}
